substitutions:
  device: nickel

esphome:
  name: ${device}

esp8266:
  board: d1_mini

<<: !include base.yaml

output:
  - platform: esp8266_pwm
    pin: D7
    frequency: 1000 Hz
    id: pwm_output_0
#    max_power: 0.1

remote_receiver:
  pin: 
    number: D3
    inverted: True
    mode: INPUT_PULLUP
  dump: nec
  idle: 25ms

binary_sensor:
  - platform: gpio
    pin: D1
    name: "${device}.button"

remote_transmitter:
  pin: D2
  carrier_duty_percent: 50%

light:
  - platform: monochromatic
    output: pwm_output_0
    name: "${device}.white"

# Individual switches
switch:

# Hi-Fi
# ======
  - platform: template
    name: "hifi.power"
    turn_on_action:
      remote_transmitter.transmit_nec:
        address: 0xFF00
        command: 0xFF00

  - platform: template
    name: "hifi.volup"
    turn_on_action:
      remote_transmitter.transmit_nec:
        address: 0xFF00
        command: 0xED12
  - platform: template
    name: "hifi.voldown"
    turn_on_action:
      remote_transmitter.transmit_nec:
        address: 0xFF00
        command: 0xF40B
  - platform: template
    name: "hifi.volmute"
    turn_on_action:
      remote_transmitter.transmit_nec:
        address: 0xFF00
        command: 0xF50A
  - platform: template
    name: "hifi.1"
    turn_on_action:
      remote_transmitter.transmit_nec:
        address: 0xFF00
        command: 0xBF40
  - platform: template
    name: "hifi.2"
    turn_on_action:
      remote_transmitter.transmit_nec:
        address: 0xFF00
        command: 0xBB44
  - platform: template
    name: "hifi.3"
    turn_on_action:
      remote_transmitter.transmit_nec:
        address: 0xFF00
        command: 0xB748
  - platform: template
    name: "hifi.fm"
    turn_on_action:
      remote_transmitter.transmit_nec:
        address: 0xFF00
        command: 0xF807
  - platform: template
    name: "hifi.audioin"
    turn_on_action:
      remote_transmitter.transmit_nec:
        address: 0xFF00
        command: 0xF00F
  - platform: template
    name: "hifi.usb"
    turn_on_action:
      remote_transmitter.transmit_nec:
        address: 0xFF00
        command: 0xE916

  - platform: template
    name: "hifi.soundmode"
    turn_on_action:
      remote_transmitter.transmit_nec:
        address: 0xFF00
        command: 0xF30C
  - platform: template
    name: "hifi.hbs"
    turn_on_action:
      remote_transmitter.transmit_nec:
        address: 0xFF00
        command: 0xF20D

